* {
    margin: 0;
}

.container {
    background-color: #F6F7F9;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-style: normal;

}

.rounded-5 {
    border-radius: 1.3rem;
}

.fw-400 {
    font-weight: 400;
}

.fw-500 {
    font-weight: 500;
}

.fw-600 {
    font-weight: 600;
}

.fw-700 {
    font-weight: 700;
}

.fs-14 {
    font-size: 14px;
}

.fs-16 {
    font-size: 16px;
}

.fs-20 {
    font-size: 20px;
}

h1 {
    font-size: 32px;
    font-weight: 700;
}

h3 {
    font-size: 20px;
    font-weight: 700;
    color: #1A202C;
}

.color13 {
    color: #131313;
}

.color1906 {
    color: rgba(19, 19, 19, 0.6);
}

.color-w-blue {
    color: #3563E9;
}



.nav-bar-top-logo {

    letter-spacing: 1px;


}

.nav-bar-top-search {

    opacity: 80%;

}


.nav-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.nav-left-title {
    font-size: 12px;
    letter-spacing: 0.02em;

    color: #94A7CB;
}

.nav-left-item {
    font-size: 20px;
    letter-spacing: -0.02em;

    color: #3D5278;
}

.nav-left-item-sp {
    color: #90A3BF;
}

main {
    background-color: #F6F7F9;
}

.main-2-label {
    color: #1A202C;
}

.main-2-reviewers {
    font-size: 14px;
    letter-spacing: 0.02em;
    color: #3D5278;
}

.main-2-description {
    font-size: 20px;
    letter-spacing: -0.02em;
    color: #3D5278;
}

.parameter-name {
    font-size: 20px;
    letter-spacing: -0.02em;
    color: #90A3BF;
}

.parameter-value {
    font-weight: 600;
    font-size: 20px;
    letter-spacing: -0.02em;
    color: #3D5278;
}

.main-2-price {
    font-weight: 700;
    font-size: 28px;
    line-height: 35px;
    color: #1A202C;
}

.main-2-price-sp {
    font-weight: 700;
    font-size: 16px;
    color: #90A3BF;
}

.price-old {
    text-decoration-line: line-through;
}

.main-2-btn {
    font-weight: 700;
    font-size: 16px;
}

.main2-review {
    font-weight: 600;
    font-size: 20px;
    letter-spacing: -0.02em;
    color: #1A202C;
}

.main2-review-q {

    width: 44px;
    height: 28px;

    background-color: #3563E9;
    border-radius: 4px;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;
}



.user-status-review {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: #90A3BF;
}

.user-date-review {
    font-weight: 500;
    font-size: 14px;

    color: #90A3BF;
}

.user-text-review {
    font-weight: 400;
    font-size: 14px;
    letter-spacing: -0.02em;

    color: #3D5278;
}

.showall-review {
    font-weight: 600;
    font-size: 16px;

    color: #90A3BF;
}



.recents-car-color1 {
    color: #1A202C;
    ;
}

.recents-car-color2 {
    color: #90A3BF;

}


.show-mobile {
    display: none;
}



.border-mobile {
    border: none;
}

.border-large {
    border: solid 1px #afafaf;
}




@media (max-width: 991.98px) {

    .container {
        margin: 2%;
        padding: 2%;
        max-width: 100%;
    }


    .show-mobile {
        display: block;
    }


    .hide-mobile {
        display: none;
    }

    .border-mobile {
        border: solid 1px #afafaf;
    }

    .border-large {
        border: none;
    }

    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropdown-content {
        display: block;
        position: absolute;
        width: 70%;
        top: 70px;
        left: 50px;
        background-color: #FFFFFF;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.9);
        z-index: 1;
    }

    .recents-car {
        width: 842px;
    }

    .scrolled {
        /* width: 50%; */
        margin-left: 1rem;
        height: auto;
        overflow-x: scroll;
    }

}